project/
/.idea
/*.iml
/*.ipr
/.idea_modules
/.classpath
/.project
/.settings
*.iws

**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
